@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


@layer utilities {
  .custom-polygon {
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  }
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}